body{
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
   height: 100vh;
}

.grille-accueil{
   height: 100%;
   width: 100%;
   display: grid;
   /*grid-template: Rangés / Colonnes*/
   grid-template: 70px 500px minmax(300px, 1fr) / 600px 1fr 600px;
}

/* ---------------- Menu --------------- */

.menu{
   /* grid-area: 1eLR / 1eLC / 2eLR / Dernier LC */
   grid-area: 1 / 1 / 2 / -1;
   /* background: black; */
   width: 100%;
   height: 70px;
   
}

.titre-menu{
   font-family: Playfair Display, Arial, Helvetica, sans-serif;
   font-size: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid #000;
   position: relative;
   z-index: 200;
   height: 70px;
   background: #fff;
}

/* Ce symbole signifie que quand on survole le menu, son enfant qui a la classe .titre-menu aura une border-bottom */

.menu:hover > .titre-menu{
   border-bottom: 0px solid #000;
}

.titre-menu::after{
   content: '';
   display: block;
   height: 1px;
   background: #000;
   position: absolute;
   top: 61px;
   width: 35px;
}

.liste-menu{
   background: #fff;
   position: relative;
   top: -200px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 100;
}

/* Le symbole + signifie quand on survole le .titre-menu, l'elt qui se situe apres ie .liste-menu */

.titre-menu:hover + .liste-menu{
   transition: top 0.2s ease-in-out;
   top: 0;
}

.liste-menu:hover{
   top: 0;
}

.liste-menu li{
   margin: 10px 0;
   list-style-type: none;
}

.liste-menu li a{
   font-size: 20px;
   text-decoration: none;
   color: #000;
   position: relative;
}

.liste-menu li a::after{
   content: '';
   display: block;
   margin: 0 auto;
   background: #000;
   top: -2s;
   width: 100%;
   height: 1px;
   transform: scale(0);
   transition: transform 0.2s ease-in-out;
}

.liste-menu li a:hover::after{
   transform: scale(1);
}

/* ------------- presentation ------------- */

.presentation{
   grid-area: 2 / 1 / 3 / 2;
   background: #6fb4ec;
   padding: 20px;
}

.presentation img{
   width: 80px;
}

.presentation .titre-presentation{
   font-family: Playfair Display, 'Times New Roman', Times, serif;
   font-size: 80px;
   font-weight: 700;
   margin: 20px 0;
}

.presentation p{
   font-size: 20px;
   margin-bottom: 40px;
}

.presentation a{
   text-decoration: none;
   color: #000;
   border: 1px solid #000;
   padding: 10px;
   border-radius: 5px;
}

.presentation a:hover{
   background: #000;
   color: #fff;
   transition: all 0.2s ease-in-out;
}






.slider{
   grid-area: 2 / 2 / 3 / -1;
   background: chocolate;
}

.choix{
   grid-area: 3 / 1 / -1 / 3;
   background: salmon;
}

.contact{
   grid-area: 3 / 3 / -1 / -1;
   background: lightblue;
}